<div class="w-full h-full flex-col ">
  <% @user.each do |user| %>
    <div class="card">
      <div class="user-card flex flex-col gap-2 mt-4 items-center
       bg-white border border-gray-200 rounded-lg shadow md:flex-row
       md:w-auto hover:bg-gray-100 dark:border-gray-700">
          <img class="object-cover h-full w-full rounded-t-lg h-96 md:h-auto md:w-48
       md:rounded-none md:rounded-l-lg" src="<%= user.photo %>" alt="user image">
        <div class="flex flex-col justify-between p-4 leading-normal w-full h-40">
          <h5 class="mb-2 text-4xl font-bold tracking-tight"><%= user.name %></h5>
          <p class="mb-3 text-right font-normal">number of posts: <%= user.posts_counter %></p>
        </div>
      </div>
      <% if user.posts.empty? %>
        <button class="text-gray-900 bg-white hover:bg-gray-100
         border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100
         font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center
         dark:focus:ring-gray-800 dark:bg-white dark:border-gray-700 dark:text-gray-900
         dark:hover:bg-gray-200 mb-2 mt-4" type="button">
          <%= link_to 'Add a post', new_user_post_path(user.id) %>
        </button>
      <% else %>
        <button id="user-post" class="text-gray-900 bg-white mt-4 hover:bg-gray-100
         border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100
         font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center
         dark:focus:ring-gray-800 dark:bg-white dark:border-gray-700 dark:text-gray-900
         dark:hover:bg-gray-200 mb-2" type="button">
          <%= link_to 'See posts', user_path(user.id) %>
        </button>
      <% end %>
    </div>
  <% end %>
</div>