<div>
  <h1>User Show Page</h1>
    <div>
      <img src="<%= @user.photo %>" alt="user image">
      <h3><%= @user.name %></h3>
      <p>number of posts:<%= @user.posts.count %></p>
      <h3>Bio</h3>
      <p><%= @user.bio %></p>
    </div>
    <div>
      <% @user.recent_posts.each do |post| %>
        <h5>Post # <%= post.id %></h5>
        <p><%= post.title %></p>
        <span>Comments: <%= post.comments_counter %></span>
        <span>Likes: <%= post.likes_counter %></span>
      <% end %>
    </div>
  <button>See all posts</button>
</div>