<div>
  <h1>Posts index page</h1>
  <div>
    <div>
        <h3><%= @user.name %></h3>
        <p>number of posts: <%= @user.posts.count %></p>
    </div>
    <div>
      <% @user.posts.each do |post| %>
        <h5>Post # <%= post.id %></h5>
        <p><%= post.title %></p>
        <span>Comments: <%= post.comments_counter %></span>
        <span>Likes: <%= post.likes_counter %></span>
        <ul>
          <% post.recent_comments.each do |comment| %>
            <li><%= comment.author.name %> : <%= comment.text %></li>
          <% end %>
        </ul>
    </div>
    <% end %>
  </div>
  <button>Pagination</button>
</div>