<div>
  <h1>Posts index page</h1>
  <div>
    <div>
      <h3><%= @users.name %></h3>
      <p>number of posts: <%= @users.posts.count %></p>
    </div>
    <div>
      <% @users.posts.each do |post| %>
        <h5>Post # <%= post.id %></h5>
        <p><%= post.title %></p>
        <span>Comments: <%= post.comments_counter %></span>
        <span>Likes: <%= post.likes_counter %></span>
      <% end %>
    </div>
    <div>
      <p>Username: Comment 1</p>
      <p>Username: Comment 2</p>
      <p>Username: Comment 3</p>
      <p>Username: Comment 4</p>
      <p>Username: Comment 5</p>
    </div>
    <div>
      <h5>Post 2</h5>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </p>
      <span>Comments: x</span>
      <span>Likes: y</span>
    </div>
    <div>
      <p>Username: Comment 1</p>
      <p>Username: Comment 2</p>
      <p>Username: Comment 3</p>
      <p>Username: Comment 4</p>
      <p>Username: Comment 5</p>
    </div>
  </div>
  <button>Pagination</button>
</div>