<div class="h-full w-full shadow-2xl flex flex-col gap-2">
  <div class="flex justify-between p-2">
    <h3 class="font-medium"><%= @post.title %> by <%= @post.author.name %></h3>
    <div>
      <span>Comments: <%= @post.comments_counter %></span>
      <span>Likes: <%= @post.likes_counter %></span>
    </div>
  </div>
  <div class="flex flex-col p-2">
    <p>
      <%= @post.text %>
    </p>
    </div>
    <div class="font-medium text-sm p-2">
      <% @post.comments.each do |comment| %>
        <div class="flex justify-between items-center mr-3">
        <p><%= comment.author.name %> : <%= comment.text %></p>
        <% if can? :destroy, comment %>
          <%= button_to 'Delete', user_post_comment_path(user_id: @user.id, post_id: @post.id, id: comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </div>
    <% end %>
    </div>
</div>